%p= link_to "Getting Started", "#https://3dsystems.teamplatform.com/pages/69847?t=32eb9585w8es&embed=true", :id => 'getting_started'
%p.ml20= link_to "STOR Tutorial", "#https://3dsystems.teamplatform.com/pages/69936?t=tttc0nid2x02&embed=true"
%p.ml20= link_to "STOM Tutorial", "#https://3dsystems.teamplatform.com/pages/69987?t=zbvmkhz8l7q0&embed=true"

%p API Reference
%p.ml20= link_to "Authentication", "#https://3dsystems.teamplatform.com/pages/69994?t=8h9zkfy2xpe&embed=true"
%p.ml20= link_to "STOR", "#https://3dsystems.teamplatform.com/pages/69996?t=tyw7w83g21q2&embed=true"
%p.ml20= link_to "STOM", "#https://3dsystems.teamplatform.com/pages/69997?t=ylz54whvh8or&embed=true"
%p.ml20= link_to "STOPP", "#https://3dsystems.teamplatform.com/pages/72743?t=s6pfp5s18rgx&embed=true"

%p Examples
%p.ml20= link_to "Printability Validation", "#https://3dsystems.teamplatform.com/pages/70165?t=xx3fohdixf0p&embed=true"
%p.ml20= link_to "Cloud storage for apps", "#https://3dsystems.teamplatform.com/pages/70022?t=43w4o6zhwtrd&embed=true"
%p.ml20 3D viewer
%p.ml20= link_to "Boolean using blender", "#https://3dsystems.teamplatform.com/pages/70030?t=j1jmkpnm74vr&embed=true"
%p.ml20= link_to "Off-screen Rendering using blender", "#https://3dsystems.teamplatform.com/pages/72232?t=lxpsgjfv1u8z&embed=true"