.row
  .col-md-3
  .col-md-6
    .well.tac
      %h2 Reset Password
      %br
      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
        = devise_error_messages!
        %p= f.email_field :email, :autofocus => true, :placeholder => 'e-mail address'
        %p= f.submit "Send me reset password instructions"

      = render "devise/shared/links"
  .col-md-3